//font
$font: "Roboto";

//Colors
$black: #000000;
$blue: #4295ff;
$blue-dark: #3974ba;
$gray: #d1d2d4;
$gray-light: #f3f3f5;
$gray-soft: #e7e8ea;
$green: #08dc7d;
$red: #fc395f;
$red-soft: #f16d6f;
$white: #ffffff;
